{% extends 'base.html.twig' %}
{% block title %}Bausbacher MLB{% endblock %}
{% block body %}
<div class="container">
    <section id="events">
        <div class="row">
            <h3 syle="text-align: center;">Congratulations to Evan and his Atlanta Braves on the 2021 MLB Family Win</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" style="text-align: center;">Family MLB Contest</h4>
                    </div>
                    <div class="card-body card-dashboard">
                        <div class="table-responsive">
                            <table style="margin: auto; width:50% !important;">
                                <thead>
                                    <tr>
                                        <td class="table-success">Tier 1</td>
                                        <td class="table-info">Tier 2</td>
                                        <td class="table-warning">Tier 3</td>
                                        <td class="table-danger">Tier 4</td>
                                    </tr>
                                    
                                </thead>
                            </table>
                            <br>
                            <table class="js-standings-table table table-bordered table-hover dom-jQuery-events" id="standings">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Wins</th>
                                        <th>Losses</th>
                                        <th>Games Played</th>
                                        <th>Games Back</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in teams %}
                                    {# onclick="showTeamInfo('{{ t.teamName }}');" #}
                                    <tr class="teams">
                                        <td>
                                            <a href="{{path('team_page', {teamName : t.teamName}) }}">{{ t.teamName }}</a>
                                        </td>
                                        <td>{{ t.teamWins }}</td>
                                        <td>{{ t.teamLosses }}</td>
                                        <td>{{ t.teamGamesPlayed }}</td>
                                        <td>{{ t.gamesBack }}</td>
                                        <td>
                                            <a href="#" class="js-expand-standings"
                                                data-url="{{ path('expand_team', {teamName : t.teamName}) }}"
                                            >
                                                <span data-toggle="toggle" class="material-icons">expand_more</span>
                                            </a>
                                        </td>
                                        {% for mlb in t.mlbTeams %}
                                        <tr class="hide mlbTeam" id= "mlbTeam" style="display: none;" data-tier={{ mlb.tierLevel }}>
                                            <td><img src="{{ asset('teamlogos/' ~mlb.teamLowerCase~'.png') }}" width="30rem" height="30rem" alt="{{mlb.teamName}} Logo Image">&nbsp; &nbsp; &nbsp; {{mlb.teamName}}</td>
                                            <td>{{mlb.teamWins}}</td>
                                            <td>{{mlb.teamLosses}}</td>
                                            <td>{{mlb.teamGamesPlayed}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{# {% block javascripts %}
    {{ parent() }}
    <script>
        // $('.js-standings-table tbody tr').on('click', function () {
        //     console.log('row clicked');
        // })
    </script>
{% endblock %} #}