{% extends 'base.html.twig' %}
{% block title %}Bausbacher MLB{% endblock %}
{% block body %}
<div class="container">
    <section id="events">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" style="text-align: center;">Family MLB Contest</h4>
                    </div>
                    <div class="card-body card-dashboard">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover dom-jQuery-events" id="tourn-stats">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Wins</th>
                                        <th>Losses</th>
                                        <th>Games Played</th>
                                        <th>Games Back</th>
                                    </tr>
                                </thead> 
                                <tbody>
                                    {% for t in teams %}
                                    {# onclick="showTeamInfo('{{ t.teamName }}');" #}
                                        <tr>
                                            <td><a href="{{path('team_page', {teamName : t.teamName}) }}">{{ t.teamName }}</a></td>                                            
                                            <td>{{ t.teamWins }}</td>
                                            <td>{{ t.teamLosses }}</td>
                                            <td>{{ t.teamGamesPlayed }}</td>
                                            <td>{{ t.gamesBack }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}